<img src="inboard_logo.png" />
<h2>Customer Service System</h2>
<form action="/action_page.php">
  Deck S/N: <input type="text" name="decksn" value=""> <input type="submit" value="Submit">
  <hr>
  <p>
  Record ID: <input type="text" name="id" value="{{id}}"><br>
  MFG Date: <input type="text" name="mfgdate" value="{{mfgdate}}"><br>
  Ship Date: <input type="text" name="shipdate" value="{{shipdate}}"><br>
  Motor S/N: <input type="text" name="motorsn" value="{{motorsn}}"><br>
  FW Version: <input type="text" name="fwver" value="{{fwver}}"><br>
  Netsuite Order Number: <input type="text" name="netsuite" value="{{netsuite}}"><br>
  <!-- First Name: <input type="text" name="firstname" value="{{fname}}"><br>
  Last Name: &nbsp;<input type="text" name="lastname" value="{{lname}}"><br>
  Customer Address:<br>
  <textarea name="message" rows="10" cols="60">The cat was playing in the garden.</textarea>
  <br> -->
</form> 
