<img src="inboard_logo.png" />
<h2>Customer Service System</h2>
  Deck S/N <input type="text" id="deck-sn" name="deck_sn" value=""> <input id="user-submit" type="submit" value="Search">
  <hr>
  Record ID <input type="text" id="recid"><br>
  Netsuite # <input type="text" id="netsuite"><br />
  Deck S/N <input type="text" id="decksn"><br />
<!--
<form>
  MFG Date: <input type="text" name="mfgdate" value="{{mfgdate}}"><br>
  Ship Date: <input type="text" name="shipdate" value="{{shipdate}}"><br>
  Motor S/N: <input type="text" name="motorsn" value="{{motorsn}}"><br>
  FW Version: <input type="text" name="fwver" value="{{fwver}}"><br>
  Netsuite Order Number: <input type="text" name="netsuite" value="{{netsuite}}"><br>
  First Name: <input type="text" name="firstname" value="{{fname}}"><br>
  Last Name: &nbsp;<input type="text" name="lastname" value="{{lname}}"><br>
  Customer Address:<br>
  <textarea name="message" rows="10" cols="60">100 Central Ave. Santa Cruz, CA 95060</textarea>
  <br>
</form> 
-->
